@import 'global.css';

#search-bar {
    -fx-background-radius: 15 0 0 15;
    -fx-border-radius: 15 0 0 15;
    -fx-text-fill: #757575;
}

#search-button {
    -fx-background-color: -color-primary;
    -fx-background-radius: 0 15 15 0;
    -fx-border-radius: 0 15 15 0;
    -fx-border-color: -color-divider;
    -fx-background-image:url('../image/search-outline.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#search-button:hover {
    -fx-border-color: -color-light-primary;
}

#search-bar:focused {
    -fx-border-color: #795548;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

.mfx-text-field .floating-text {
    -fx-background-color: transparent;
}

.card:hover #title {
    -fx-translate-y: -20;
    -fx-opacity: 0;
    -fx-pref-height: 0;
}

.card:hover #img {
    -fx-translate-y: -20;
}

.card:hover #details {
    -fx-background-radius: 15px;
    -fx-background-color: -color-light-primary;
    -fx-text-fill: -color-dark-primary;
    -fx-pref-height: unset;
    -fx-opacity: 1;
}

#details {
    -fx-opacity: 0;
    -fx-pref-height: 0;
}