.nav-button {
    -fx-border-radius: 10px;
    -fx-background-color: #ffffff;
}

.nav-button:hover {
    -fx-text-fill: #795548;
    -fx-cursor: hand;
}

#logout {
    -fx-background-color: #795548;
    -fx-border-radius: 10px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#logout:hover {
    -fx-text-fill: #D7CCC8;
    -fx-cursor: hand;
}

#toolbar {
    -fx-background-color: #D7CCC8;
    -fx-border-style: solid;
    -fx-border-color: #F9EEEA;
    -fx-border-width: 0 0 3 0;
}

#scroll-pane .track{
    -fx-background-color: #D7CCC8;
}

#scroll-pane .thumb {
    -fx-background-color: #795548;
}

#scroll-pane .thumb:hover {
    -fx-background-color: #5D4037;
}

#search-bar {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-text-fill: #757575;
    -fx-background-image:url('../image/search-outline.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: right 5 center;
}

#search-bar:focused {
    -fx-border-color: #795548;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 2, 0, 0, 0);
}

* {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}