<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Set URL -->
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orania2</property>
        <!-- Set User Name -->
        <property name="hibernate.connection.username">C##</property> <!-- C##NEPTUN-->
        <!-- Set Password -->
        <property name="hibernate.connection.password"></property> <!-- pw for the db -->
        <!-- Set Driver Name -->
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
    </session-factory>
</hibernate-configuration>
